<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="products">
    <%= render @products %>
    <% @products.each do |item| %>
      <% if item.quantity == 0 %>
      <aside class="sold-out">
        SOLD OUT!
      </aside>
      <% end %>
    <% end %>
  </div>

</section>
